<ion-view title="Add Subject Allocation View" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Class</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Subject</span>
                <select></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Frequency</span>
                <input type="text" placeholder="Number of periods">
            </label>
        </form>
        <button id="addSubjectAllocationView-button8" class="button button-positive  button-block" ng-click="addSubjectAllocDetails()">Tap me!</button>
    </ion-content>
</ion-view>